<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">

        <div class="container-xl  ">


        </div>
        <br><br>
        <section>
            <div class="container">
                <table class="table table-striped table-bordered" id="example" style="width:100%;">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col">Order Id</th>
                            <th scope="col">User</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Price</th>
                            <th scope="col">Delivery Status</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <% for( let i=0; i < order.length; i ++ ) { %>

                            <tr>

                                <td>
                                    <%= order[i].OrderId %>
                                </td>
                                <td>
                                    <%= order[i].User.email %>
                                </td>
                                <td>
                                    <%= order[i].Order_date %>
                                </td>
                                <td>
                                    <%= order[i].Payment %>
                                </td>
                                <td>
                                    ₹ <%= order[i].TotalPrice %>
                                </td>
                                <td>
                                    <select onchange="deliveryStatus('<%= order[i]._id %>')" name="Delivery_status"
                                        class="form-select" id="Delivery_status<%= order[i]._id %>">
                                        <option value="" disabled selected>
                                            <%= order[i].Delivery_status %>
                                        </option>
                                        <% if (order[i].Delivery_status==="Pending" ) { %>
                                            <option value="Shipped">Shipped</option>
                                            <option value="Out_for_Delivery">Out for delivery</option>
                                            <option value="Delivered">Delivered</option>
                                            <option value="Cancelled">Cancel</option>
                                            <% } else if (order[i].Delivery_status==="Shipped" ) { %>
                                                <option value="Out_for_Delivery">Out for delivery</option>
                                                <option value="Delivered">Delivered</option>
                                                <option class=" " value="Cancelled">Cancel</option>
                                                <% } else if (order[i].Delivery_status==="Delivered" ) { %>
                                                    <% } else if (order[i].Delivery_status==="Cancelled" ) { %>
                                                        <% } %>
                                                            <!-- <option value="Out_for_Delivery">Out for delivery</option>
                                        <option value="Delivered">Delivered</option>
                                        <option class=" " value="Cancelled">Cancel</option> -->
                                    </select>
                                </td>

                            </tr>

                            <% } %>


                    </tbody>
                </table>
            </div>



        </section>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<script>
    deliveryStatus = (id) => {
        let value = document.getElementById('Delivery_status' + id).value
        axios.patch('/admin/deliveryStatus',{ id: id, value: value }).then((e) => {
            location.href = "/admin/orders"
        })
    }
</script>