<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">

        <div class="container-xl ">

            <a href="/admin/addProduct " class="h6  btn-link text-info fw-normal float-end">
                Add Product
            </a>
        </div>
        <br> <br>


        <section>
            <div class="container table-responsive">
                <table class=" mt-4 table table-striped table-bordered" id="example1" style="width:100%">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Image</th>
                            <th scope="col">Brand Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Type</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Size</th>
                            <th scope="col">Action</th>
                        </tr>  
                    </thead>
                    <tbody class="">
                        <% for( let i=0; i < products.length; i ++ ) { %>

                            <tr>

                                <td>
                                    <%= i+1 %>
                                </td>
                                <td> <img style="width:30px; height: auto;" src="/product-images/<%= locals.products[i].imagesDetails[0].filename %> "
                                        alt=""> </td>
                                <td>
                                    <%= products[i].brandName.brandName %>
                                </td>
                                <td>
                                    <%= products[i].shopPrice %>
                                </td>
                                <td>
                                    <%= products[i].type %>
                                </td>
                                <td>
                                    <%= products[i].gender.gender %>
                                </td>
                                <td>
                                    <%= products[i].quantity %>
                                </td>
                                <td>
                                    <%= products[i].size %>
                                </td>
                                
                                <td class="d-flex justify-content-evenly">
                                    <a href="/admin/view-product/<%= products[i]._id %>" class="btn btn-info">View</a>

                                    <a href="/admin/editProduct/<%= products[i]._id %>" class="btn btn-primary"> Edit
                                    </a>
                                    <form action="/admin/deleteProduct/<%= products[i]._id %>" method="get">
                                    <button type="submit" onclick="archiveFunction()" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>

                            <% } %>


                    </tbody>
                </table>
            </div>


        </section>


    </div>
</div>



<script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>




<script>
   function archiveFunction() {
        event.preventDefault(); // prevent form submit
        var form = event.target.form; // storing the form
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        },
            function (isConfirm) {
                if (isConfirm) {
                    form.submit();  
                } 
            });
    }

</script>