<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>

<body class="app">

  <div class="app-wrapper">


    <div class="app-content pt-3">
      <div class="container-xl">
        <div class="tab-content" id="orders-table-tab-content">
          <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
            <div class="d-flex px-5 mb-5 mt-3">
              <div class="mx-3">
                <label class="fw-bold px-2 mx-5">From</label>
                <input type="date" id="fromDate" value="<%= DaysAgo %>" class="form-control mx-5"> <br>
              </div>
              <div class="mx-3">
                <label class="fw-bold px-2 mx-5">To</label>
                <input type="date" id="toDate" value="<%= todayDate %>" class="form-control mx-5"> <br>
              </div>
              <div>
                 <label class="fw-bold px-2 mx-5">Filter by</label>
                <select class="form-select mx-5" id="filterId">
                  <option selected value="%d-%m-%Y">Daily</option>
                  <option value="%m-%Y">Monthly</option>
                   <option value="%Y">Yearly</option>
                </select>
              </div>
              <div class="mx-3">
                <br>
                <button onclick="dateChange()" class="btn btn-outline-primary pt-2 mt-2 ml-5">Apply</button>
              </div>
            </div>

            <div class="app-card app-card-orders-table shadow-sm mb-5">
              <div class="app-card-body">
                <div class="table-responsive">
                  <table id="example" class="items-center justify-center w-full mb-0 ml-5 align-top border-collapse dark:border-white/40 text-slate-500 display nowrap" style="width:96%;padding-bottom:25vh;">
                    <thead class="align-bottom">
                      <tr>
                        <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                          Date</th>
                        <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                          Total Price</th>
                        <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                          Profit</th>
                        <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                           Count</th>
                      </tr>
                    </thead>
                    <tbody class="border-t " id="tbodyId">
                      <% saleReport.forEach(report=> { %>
                      <tr>
                        <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                          <h6 class="mb-0 text-sm leading-normal dark:text-white">
                            <%= report._id %>
                          </h6>
                        </td>
                        <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                          <p class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                            <%= report.totalPrice %>
                          </p>
                        </td>
                        <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                          <p class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                            ₹ <%=parseFloat(report.totalPrice*5/100).toFixed(1)%>
                          </p>
                        </td>
                        <td class="p-2 align-middle  border-b  whitespace-nowrap shadow-transparent">
                          <span class="text-xs font-semibold  dark:text-white dark:opacity-60">
                            <%= report.count %>
                          </span>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
                <!--//table-responsive-->

              </div>
              <!--//app-card-body-->
            </div>
            <!--//app-card-->


          </div>
          <!--//tab-pane-->



          <!--//tab-pane-->
        </div>
        <!--//tab-content-->
      </div>
      <!--//container-fluid-->
    </div>
    <!--//app-content-->
  </div>
  <!--//app-wrapper-->
  <!-- Javascript -->
  <script src="assets/plugins/popper.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>


  <!-- Page Specific JS -->
  <script src="assets/js/app.js"></script>

</body>





<script>
  $(document).ready(function() {
    $('#example').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    });
  });



  dateChange = () => {
    let from = document.getElementById('fromDate').value
    let to = document.getElementById('toDate').value
    let filter = document.getElementById('filterId').value
    axios.get('/admin/salesProject', {
      params: {
        from: from,
        to: to,
        filter: filter
      }
    }).then((e) => {
      if (e.data.response === "login") location.href = "/admin/login"
      else if (e.data.error) {

      } else {
        let html = '';
        let saleReport = e.data.saleReport
        saleReport.forEach(saleReport => {
          html += `
           <tr>
             <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
               <h6 class="mb-0 text-sm leading-normal dark:text-white">
                ${saleReport._id}
               </h6>
             </td>
             <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
               <p class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                 ${saleReport.totalPrice}
               </p>
             </td>
             <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
               <p class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                 ₹  ${parseFloat(saleReport.totalPrice*5/100).toFixed(1)}
               </p>
             </td>
             <td class="p-2 align-middle  border-b  whitespace-nowrap shadow-transparent">
               <span class="text-xs font-semibold  dark:text-white dark:opacity-60">
                ${saleReport.count}
               </span>
             </td>
           </tr>`
        });
        document.getElementById('tbodyId').innerHTML = html
      }
    })
  }
</script>