<div class="app-wrapper">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="d-flex" style="height:450px;">
            <div class="d-flex flex-column justify-content-between ">
              <% for( let i=0; i < product.imagesDetails.length; i++ ) { %>
              <div class="border border-warning" onclick="changeImg('<%= product.imagesDetails[i].Location %> ')"><img style="height:100px;" src="<%= product.imagesDetails[i].Location %> " alt="" class="border border-warning"> </div>
              <% } %>
            </div>
            <div><img id="imgId" src="<%= product.imagesDetails[0].Location %> " style="height:100%;" alt=""> </div>
          </div>
        </div>
        <div class="col-md-1 col-0"></div>
        <div class="col-md-7 col-sm-12">
          <div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3 col-6">
                  <p class="my-3 h4">Brand :</p>
                  <p class="my-3 h4">Shop price :</p>
                  <p class="my-3 h4">MRP :</p>
                  <p class="my-3 h4">Color :</p>
                  <p class="my-3 h4">Category :</p>
                  <p class="my-3 h4">Type :</p>
                  <p class="my-3 h4">Gender :</p>
                  <p class="my-3 h4">Description :</p>
                </div>
                <div class="col-md-9 col-6">
                  <div class="">
                    <p class="my-3 h4"> <%= product.brandName.brandName %> </p>
                    <p class="my-3 h4"> <%= product.shopPrice %> </p>
                    <p class="my-3 h4"> <%= product.retailPrice %> </p>
                    <p class="my-3 h4"> <%= product.color1 %> </p>
                    <p class="my-3 h4"> <%= product.category %> </p>
                    <p class="my-3 h4"> <%= product.type %> </p>
                    <p class="my-3 h4"> <%= product.gender.gender %> </p>
                    <p class="my-3 h4"> <%= product.description %> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function changeImg(src) {
    document.getElementById('imgId').src = src
  }
</script>